<%= stylesheet_link_tag "lobby", "data-turbo-track": "reload" %>

<main class="main">
  <section class="main__user">
    <div class="stats">
      <div class="current__stats">
        <h6>Active Games:</h6>
        <span id="games-count" ><%#= @game.current %> 24</span>
      </div>
      <div class="current__stats">
        <h6>Online Users:</h6>
        <span id="users-online" ><%#= @game.current %> 58</span>
      </div>
    </div>

    <div>
      
    </div>
  </section>
  <section class="main__game">

  </section>
</main>