/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 15px;
    background-color: #312E2B !important;
}

img {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
}

#title_container {
    display: flex;
    height: 40px;
    gap: 10px;
}

#board_container {
    border: 5px solid #9b9b9b;
    width: max-content;
    height: max-content;
}

#chess_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cube_even {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px !important;
    height: 70px;
}

.cube_even:nth-child(even) {
    background-color: #9eafc7;
}

.cube_even:nth-child(odd) {
    background-color: #eff3f1;
}

.cube_odd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px !important;
    height: 70px;
}

.cube_odd:nth-child(even) {
    background-color: #eff3f1;
}

.cube_odd:nth-child(odd) {
    background-color: #9eafc7;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 1.625rem;
    background-color: #787d81;
}

.selected {
    background-color: #dda83e !important;
}

.enemy {
    background-color: #dd2e1e !important;
}

.chess {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

@media screen and (max-width: 600px) {
    .chess {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.chat__title {
    display: flex;
    height: 30px;
    width: 100%;
    background-color: #989695;
    color: white;
    justify-content: center;
    align-items: center;
}

.chat__title > h5 {
    margin: 0;
    padding: 0;
}

.chat__field {
    display: flex;
    flex-direction: column;
    height: 565px;
    width: 460px;
    border: 1px solid black;
}

.chat_container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat__display {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    background-color: #272522;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat__display > p {
    all: unset;
    color: white;
}

.chat__input__container {
    display: flex;

}

.chess__chat__input {
    all: unset;
    box-sizing: border-box;
    border-top: 1px solid black;
    height: 40px;
    flex-grow: 1;
    padding: 5px 10px;
    overflow: hidden;
    background-color: #272522;
    color: white;
    resize: none;
}

.chat__send {
    all: unset;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 70px;
    height: 40px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}