body {
    margin: 0;
    padding: 0;
    background-color: #afada7;
    overflow-y: hidden;
    overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
    .room_details__container {
        background-color: #e0deda;
    }
    .create_room__title > h1 {
        color: black;
    }
    .detail > label {
        color: black;
    }
    .main {
        background-color: #EDEADE;
    }
    .main__header {
        background-color: #dcd7ce;
    }
    .current__stats > h6 {
        color: #453844
    }
    .current__stats > span {
        color: #0f5132;
    }
    .users__container > p {
        color: black;
    }
    .users__title {
        background-color: #afada7;
        border-bottom: gray solid 1px;
    }
    .lobby__users {
        background-color: #d7d5cc;
    }
    .lobby__rooms {
        background-color: #d7d5cc;
    }
    .lobby__rooms > th, td, tr {
        color: black;
    }
    .users__title > h6 {
        margin: 0;
    }
    .global_chat__title {
        border-bottom: gray solid 1px;
        background-color: #afada7;
        color: black;
    }
    .global_chat__container {
        background-color: #d7d5cc;
    }
    tr > th {
        background-color: #afada7 !important;
        border-bottom-color: gray !important;
    }
    h6 {
        color: #231a1a;
    }
    .users__container::-webkit-scrollbar-thumb {
        background: #a7abab;  /* fallback for old browsers */
        /*background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  !* Chrome 10-25, Safari 5.1-6 *!*/
        /*background: linear-gradient(to right, #ff6a00, #ee0979); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
        border-radius: 1.625rem;
    }
    .users__container::-webkit-scrollbar-track {
        background: #c7c4c5;  /* fallback for old browsers */
        /*background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  !* Chrome 10-25, Safari 5.1-6 *!*/
        /*background: linear-gradient(to right, #E2E2E2, #C9D6FF); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
        border-radius: 1.625rem;
    }
    .users__container::-webkit-scrollbar {
        width: 10px;
    }
    .table__container::-webkit-scrollbar-thumb {
        background: #a7abab;
        border-radius: 1.625rem;
    }
    .table__container::-webkit-scrollbar-track {
        background: #c7c4c5;
        border-radius: 1.625rem;
    }
    .table__container::-webkit-scrollbar {
        width: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    .room_details__container {
        background-color: #23242A;
        border: #DAD6DF solid 1px;
    }
    .create_room__title > h1 {
        padding-left: 1rem;
        color: white;
    }
    .detail > label {
        color: white;
    }
    .detail > input {
        background-color: #cdc8d0;
    }
    .detail > select {
        background-color: #cdc8d0;
    }
    .detail > textarea {
        background-color: #cdc8d0;
    }
    .main {
        background-color: #1e2125;
    }
    .main__header {
        background-color: #2f3234;
    }
    .current__stats > h6 {
        color: #e5e0e0
    }
    .current__stats > span {
        color: #10a649
    }
    .users__container > p {
        color: white;
    }
    .users__title {
        background-color: #212529;
        border-bottom: white solid 1px;
    }
    .lobby__users {
        background-color: #1e2125;
    }
    .lobby__rooms {
        background-color: #1e2125;
    }
    .lobby__rooms > th, td, tr {
        color: white;
    }
    .users__title > h6 {
        margin: 0;
        color: white;
    }
    .global_chat__title {
        border-bottom: white solid 1px;
        background-color: #212529;
        color: white;
    }
    .global_chat__container {
        border-left: white solid 1px;
    }
    .users__container::-webkit-scrollbar-thumb {
        background: #504c4e;
        border-radius: 1.625rem;
    }
    .users__container::-webkit-scrollbar-track {
        border-radius: 1.625rem;
    }
    .users__container::-webkit-scrollbar {
        width: 10px;
    }
    .table__container::-webkit-scrollbar-thumb {
        background: #504c4e;  /* fallback for old browsers */
        /*background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  !* Chrome 10-25, Safari 5.1-6 *!*/
        /*background: linear-gradient(to right, #ff6a00, #ee0979); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
        border-radius: 1.625rem;
    }

    .table__container::-webkit-scrollbar-track {
        /*background: #b1b6b6;  !* fallback for old browsers *!*/
        /*background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  !* Chrome 10-25, Safari 5.1-6 *!*/
        /*background: linear-gradient(to right, #E2E2E2, #C9D6FF); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
        border-radius: 1.625rem;
    }

    .table__container::-webkit-scrollbar {
        width: 10px;
    }
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main__header {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.user__form__container > form > label {
    margin: 0;
}

#user__form {
    display: flex;
}

#user__form > input {
    border-radius: 5px 0 0 5px !important;
    width: 10rem;
    transition: none;
    background-clip: unset;
}

#user__form > input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#user__form > button {
    border-radius: 0 5px 5px 0 !important;
}

#icon__sun, #icon__moon {
    display: none;
}

.theme_icon__container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.theme_icon__container:hover {
    background-color: #c5c2c2;
    border-radius: 1.625rem;
}

.header__right {
    display: flex;
    justify-content: space-between;
    width: 40vw;
}

.users__title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 3.75rem;
}

.header__left {
    display: flex;
    gap: 20px
}

.current__stats {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.current__stats > h6 {
    padding: 0;
    margin: 0;
}

.current__stats > span {
    line-height: 20px;
}

.main__lobby {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.lobby__users {
    height: calc(100vh - 60px);
    width: 15%;
}

.lobby__rooms {
    height: calc(100vh - 60px);
    flex-grow: 1;
}

.table__container {
    height: calc(100vh - calc(3.75rem + 61px));
    overflow-x: hidden;
    overflow-y: scroll;
}

table {
    margin: 0 !important;
}

.tbody__container {
    padding: 0 !important;
}

.users__container {
    padding: 10px;
    height: calc(100vh - calc(3.75rem + 60px));
    overflow-x: hidden;
    overflow-y: scroll;
}

th, td, tr {
    padding: 1rem !important;
}

th > h6 {
    margin-bottom: .25rem;
    margin-top: .25rem;
}

.grp-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 5px;
}


.lobby__global_chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    overflow: hidden;
}

.global_chat__container > p {
    word-break: break-all;
    white-space: normal;
    padding-bottom: 1px;
    margin-bottom: 0;
}

.global_chat__title {
    height: 3.75rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.global_chat__title > h6 {
    margin: 0;
}

.global_chat__container {
    flex-grow: 1;
    padding: 5px;
}

.global_chat__input {
    display: flex;
}

.global_chat__input > input {
    border: none;
    border-radius: 0;
    transition: none;
    background-clip: unset;
}

.global_chat__input > input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.global_chat__input > button {
    border-radius: 0;
}

.room_details__wrapper {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    top: 0;
    opacity: 0.3;
    overflow-x: hidden;
    z-index: 10;
}

.room_details__container {
    padding: 1rem;
    display: none;
    width: 60%;
    height: 32rem;
    position: absolute;
    z-index: 20;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    overflow-x: hidden;
    overflow-y: auto;
}

.room_buttons__container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.room__desc {
    display: flex;
    width: 100%;
}

.detail {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 2rem 0.75rem 1rem;
}

.detail > input[type="text"] {
    width: 15rem;
}

.detail > input[type="password"] {
    width: 15rem;
}

.detail > select {
    width: 15rem;
}

.detail > p {
    width: 15rem;
}

.detail > label {
    margin-bottom: 5px;
}

.select_privacy {
    width: 200px;
}

.field_with_errors {
    all: unset;
    width: 15rem;
}

#room-description {
    width: 33rem;
    resize: none;
}

.last-row-container {
    display: flex;
}

.last-row-container > button {
    position: absolute;
    width: 10rem;
    height: 40px;
    bottom: 2rem;
    right: 2rem;
}

.create_room__title {
    display: flex;
}

.create_room__title > .icon-close {
    position: absolute;
    top: 0.25rem;
    right: 0.75rem;
    font-size: 30px;
    cursor: pointer;
}